.available {
	fill:darkblue;
	stroke:#000000;
	stroke-miterlimit:10;
}
.selled {
	fill: lightgray;
	stroke:#000000;
	stroke-miterlimit:10;
}
.selected {
	fill: yellow;
	stroke:#000000;
	stroke-miterlimit:10;
}
