.header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #000;
}
.header-menu { width: auto; height: auto; }
.header-menu:hover { cursor: pointer; }
.header-menu__icon {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 30px;
}
.header-menu__title {
    position: absolute;
    top: 25px;
    left: 105px;
    color: #FFF;
}
.main {
    position: relative;
    width: 100%;
    height: auto;
}
.nav {
    position: relative;
    width: 0px;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh);
    background-color: #212121;
    float: left;
}
.section {
    position: relative;
    width: 100%;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh);
    padding: 20px 30px;
    background-color: #F8F8F9;
    float: left;
}
.section--med { width: 50%; }
.footer {
    position: relative;
    width: 100%;
    height: 86px;
    background-color: black;
    float: left;
}

.chartSection {
    position: relative;
    width: 70%;
    height: auto;
    float: left;
}
.sale {
    position: relative;
    width: 30%;
    height: auto;
    float: left;
}
.tickets {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0px auto;
  color: #fff;
  float: left;
}
.ticket {
  position: relative;
  width: 95%;
  height: auto;
  padding: 4%;
  margin: 5px;
  text-align: center;
  background-color: #212121;
  border-radius: 10px;
  float: left;
}
.ticket__title { font-size: 14pt; font-weight: bold; }
.ticket__columns--four { position: relative; width: 25%; float: left; }
.ticket__columns--two { position: relative; width: 50%; float: left; }
.ticket__subtitle { font-size: 14pt; }
.ticket__info { font-size: 12pt; }
.ticket__subtitle--sma { font-size: 12pt; margin-top: 4px; }
.ticket__info--sma { font-size: 10pt; margin-bottom: 4px; }
.ticket__color--gray { color: #E0E0E0; }
.ticket__color--black { color: #000; }

.salesTitleSection { position: relative; width: 100%; float: left; }
.salesTitle, .salesButton {  position: relative; width: 40%; float: left; }



/* ------------------------------------------------------------------------- */
.table--max-height {
  max-height: -webkit-calc(100vh - 80px);
  max-height: -moz-calc(100vh - 80px);
  max-height: calc(100vh - 80px);
}

#svg {
  position: relative;
  float: left;
  width: calc(60% - 18px);
  height: 630px;
}
svg {
  width: 100%;
  height: 600px;
}
#subtotal {
  position: relative;
  width: calc(40% - 10px);
  float: left;
}

#eventos {
  position: relative;
  float: left;
}
.area1, .area3, .area5, .area7 {
  fill:#D180E5;
  stroke:#530666;
  stroke-width:2;
  stroke-miterlimit:10;
}
.area1:hover, .area3:hover, .area5:hover, .area7:hover {
  fill: #bb45d9;
}
.area1:active, .area3:active, .area5:active, .area7:active {
  fill:#a729c7;
}
.area4, .area8 {
  fill:#477BD6;
  stroke:#15004F;
  stroke-width:2;
  stroke-miterlimit:10;
}
.area4:hover, .area8:hover {
  fill: #326dd2;
}
.area4:active, .area8:active {
  fill: #1f488e;
}
.area2, .area6 {
  fill:#CE112C;
  stroke:#5B0617;
  stroke-width:2;
  stroke-miterlimit:10;
}
.area2:hover, .area6:hover {
  fill:#b80f28;
}
.area2:active, .area6:active {
  fill:#a50d24;
}
