body { margin: 0px; font-family:Raleway; font-size: 14pt; }
h1 {
  padding: 0px;
  margin: 0px;
  padding-bottom: 25px;
  padding-top: 75px;
}
h3 {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}
#block { display: : block; }
header {
  position: relative;
  height: 75px;
  background-color: #004D40;
  min-width: 600px;
}
nav .title {
  position: absolute;
  top: 15px;
  right: 50px;
  margin: 0px;
  font-size: 28pt;
  font-weight:bold;
  color: white;
}
nav .logo {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 250px;
  background-image: url("../img/logoBlanco.png");
  background-repeat: no-repeat;
  height: 500px;

}
svg {
  width: 100%;
  height: 100%;
}
#stadium {
  position: relative;
  padding-top: 35px;
  width: 650px;
  height: 575px;
  padding-left: 3%;
  float: left;
  display: inline;
}
#seats {
  position: relative;
  padding-top: 35px;
  width: 750px;
  height: 625px;
  padding-left: 3%;
  float: left;
  display: inline;
}
#subtotal {
  position: relative;
  padding-top: 35px;
  width: calc(100% - 850px);
  height: 625px;
  padding-left: 3%;
  float: left;
  display: inline;
}
#total {
  position: absolute;
  padding-top: 35px;
  padding-left: 50px;
  width: calc(100% - 747px);
  height: 575px;
  min-width: 300px;
  float: left;
  display: inline;
}
/*footer {
  position: relative;
  width: calc(100% - 5px);
  height: 50px;
  background-color: #009688;
  display: inline-block;
  font-family:Raleway; font-size: 14pt;
  padding: 5px;
}*/

.checkbox {
  border: 2px solid gray;
  background-color: lightgray;
  border-radius: 15px;
  padding: 15px;
  width: 75%;
  text-align: center;
  font-size: 20px;
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select.soflow, select.soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select.soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

.cancelar, .vender, .volver {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cancelar {
  background-color: #B71C1C;
}

.sumaT {
  font-size: 24px
}
