USE [master];
GO
/****** Object:  Database [seatOrganizer]    Script Date: 07/12/2017 11:48:06 a. m. ******/
CREATE DATABASE [seatOrganizer] ON  PRIMARY 
( NAME = N'seatOrganizer', FILENAME = N'C:\seat\seatOrganizer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'seatOrganizer_log', FILENAME = N'C:\seat\seatOrganizer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [seatOrganizer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [seatOrganizer]
GO
USE [seatOrganizer]
GO

CREATE ROLE VendedorBoletos;
CREATE ROLE Administrador;

-- Crear logins
CREATE LOGIN admin WITH PASSWORD = 'admin', DEFAULT_DATABASE = [seatOrganizer];
CREATE LOGIN seller WITH PASSWORD = 'abc123', DEFAULT_DATABASE = [seatOrganizer];

-- Crear usuarios
CREATE USER admin FOR LOGIN admin;
CREATE USER seller FOR LOGIN seller;

ALTER ROLE Administrador ADD MEMBER admin;
ALTER ROLE VendedorBoletos ADD MEMBER seller;
GO
/****** Object:  Schema [admin]    Script Date: 07/12/2017 11:48:07 a. m. ******/
CREATE SCHEMA [admin]
GO
/****** Object:  Schema [catalogo]    Script Date: 07/12/2017 11:48:07 a. m. ******/
CREATE SCHEMA [catalogo]
GO
/****** Object:  Schema [ventas]    Script Date: 07/12/2017 11:48:07 a. m. ******/
CREATE SCHEMA [ventas]
GO
/****** Object:  Table [admin].[empleados]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[empleados](
	[control] [smallint] IDENTITY(100,1) NOT NULL,
	[apPaterno] [varchar](25) NOT NULL,
	[apMaterno] [varchar](25) NULL,
	[nombre] [varchar](25) NOT NULL,
	[fechaContratacion] [date] NULL,
	[status] [char](2) NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[control] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [admin].[eventos]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[eventos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[descripcion] [varchar](120) NOT NULL,
	[imagen] [varchar](254) NULL,
	[status] [char](2) NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [admin].[perfiles_ctg]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[perfiles_ctg](
	[clave] [char](2) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PerfilesCtg] PRIMARY KEY CLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [admin].[precios]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[precios](
	[evento] [int] NOT NULL,
	[seccion] [tinyint] NOT NULL,
	[precio] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_Precios] PRIMARY KEY CLUSTERED 
(
	[evento] ASC,
	[seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [admin].[usuarios]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[usuarios](
	[empleado] [smallint] NOT NULL,
	[perfil] [char](2) NOT NULL,
	[nombre] [varchar](15) NOT NULL,
	[contrasena] [varchar](99) NOT NULL,
	[status] [char](2) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [catalogo].[areas_ctg]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalogo].[areas_ctg](
	[id] [char](3) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_AreasCtg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [catalogo].[butacas_ctg]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalogo].[butacas_ctg](
	[id] [int] NOT NULL,
	[fila] [char](1) NOT NULL,
	[columna] [varchar](3) NOT NULL,
	[seccion] [tinyint] NOT NULL,
	[status] [char](2) NOT NULL,
 CONSTRAINT [PK_ButacasCtg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [catalogo].[secciones_ctg]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalogo].[secciones_ctg](
	[id] [tinyint] NOT NULL,
	[area] [char](3) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[color] [char](7) NOT NULL,
 CONSTRAINT [PK_SeccionesCtg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ventas].[boletos]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ventas].[boletos](
	[folio] [varchar](20) NOT NULL,
	[venta] [varchar](20) NOT NULL,
	[butaca] [int] NOT NULL,
 CONSTRAINT [PK_Boletos] PRIMARY KEY CLUSTERED 
(
	[folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [ventas].[ventas]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ventas].[ventas](
	[numero] [varchar](20) NOT NULL,
	[evento] [int] NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[vendedor] [smallint] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [admin].[empleados] ON 

INSERT [admin].[empleados] ([control], [apPaterno], [apMaterno], [nombre], [fechaContratacion], [status]) VALUES (100, N'Juarez', N'Cendejas', N'Eric Luis', CAST(N'2017-11-28' AS Date), N'UP')
INSERT [admin].[empleados] ([control], [apPaterno], [apMaterno], [nombre], [fechaContratacion], [status]) VALUES (101, N'Galvan', NULL, N'Martin', CAST(N'2017-11-28' AS Date), N'UP')
INSERT [admin].[empleados] ([control], [apPaterno], [apMaterno], [nombre], [fechaContratacion], [status]) VALUES (102, N'Chavez', N'Romero', N'Enrique', CAST(N'2017-11-28' AS Date), N'UP')
SET IDENTITY_INSERT [admin].[empleados] OFF
SET IDENTITY_INSERT [admin].[eventos] ON 

INSERT [admin].[eventos] ([id], [nombre], [fecha], [descripcion], [imagen], [status]) VALUES (1, N'Evento de Prueba', CAST(N'2017-11-28T00:00:00.000' AS DateTime), N'Esto es la description', N'prueba.jpg', N'UP')
SET IDENTITY_INSERT [admin].[eventos] OFF
INSERT [admin].[perfiles_ctg] ([clave], [nombre]) VALUES (N'AD', N'Administrador')
INSERT [admin].[perfiles_ctg] ([clave], [nombre]) VALUES (N'VB', N'Taquillero')
INSERT [admin].[precios] ([evento], [seccion], [precio]) VALUES (1, 9, CAST(550.00 AS Decimal(7, 2)))
INSERT [admin].[usuarios] ([empleado], [perfil], [nombre], [contrasena], [status]) VALUES (100, N'VB', N'ejuarez', N'Ð3â*ãH®µfÂ
ì5…M©—', N'UP')
INSERT [admin].[usuarios] ([empleado], [perfil], [nombre], [contrasena], [status]) VALUES (101, N'VB', N'mgalvan', N'Ð3â*ãH®µfÂ
ì5…M©—', N'UP')
INSERT [admin].[usuarios] ([empleado], [perfil], [nombre], [contrasena], [status]) VALUES (102, N'VB', N'echavez', N'Ð3â*ãH®µfÂ
ì5…M©—', N'UP')
INSERT [catalogo].[areas_ctg] ([id], [nombre]) VALUES (N'DLC', N'Area 7')
INSERT [catalogo].[areas_ctg] ([id], [nombre]) VALUES (N'DRC', N'Area 5')
INSERT [catalogo].[areas_ctg] ([id], [nombre]) VALUES (N'DWM', N'Area 6')
INSERT [catalogo].[butacas_ctg] ([id], [fila], [columna], [seccion], [status]) VALUES (1, N'A', N'1', 1, N'UP')
INSERT [catalogo].[butacas_ctg] ([id], [fila], [columna], [seccion], [status]) VALUES (2, N'A', N'2', 1, N'UP')
INSERT [catalogo].[butacas_ctg] ([id], [fila], [columna], [seccion], [status]) VALUES (3, N'A', N'3', 1, N'UP')
GO
INSERT [catalogo].[secciones_ctg] ([id], [area], [nombre], [color]) VALUES (1, N'ULC', N'Arriba', N'#000000')
INSERT [catalogo].[secciones_ctg] ([id], [area], [nombre], [color]) VALUES (2, N'ULC', N'Medio', N'#888888')
INSERT [catalogo].[secciones_ctg] ([id], [area], [nombre], [color]) VALUES (3, N'ULC', N'Abajo', N'#FFFFFF')
INSERT [ventas].[boletos] ([folio], [venta], [butaca]) VALUES (N'1712061143508451', N'1712061143508454', 2648)
INSERT [ventas].[boletos] ([folio], [venta], [butaca]) VALUES (N'1712061143508452', N'1712061143508454', 2649)
INSERT [ventas].[boletos] ([folio], [venta], [butaca]) VALUES (N'1712061143508453', N'1712061143508454', 2650)
GO
INSERT [ventas].[ventas] ([numero], [evento], [fechaHora], [vendedor]) VALUES (N'1712061143508454', 1, CAST(N'2017-12-06T02:43:50.827' AS DateTime), 100)
INSERT [ventas].[ventas] ([numero], [evento], [fechaHora], [vendedor]) VALUES (N'1712061145017470', 1, CAST(N'2017-12-06T02:45:01.717' AS DateTime), 100)
INSERT [ventas].[ventas] ([numero], [evento], [fechaHora], [vendedor]) VALUES (N'1712061152317171', 1, CAST(N'2017-12-06T02:52:31.427' AS DateTime), 100)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Boletos_folio]    Script Date: 07/12/2017 11:48:07 a. m. ******/
ALTER TABLE [ventas].[boletos] ADD  CONSTRAINT [UQ_Boletos_folio] UNIQUE NONCLUSTERED 
(
	[folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [admin].[empleados] ADD  DEFAULT ('UP') FOR [status]
GO
ALTER TABLE [admin].[eventos] ADD  DEFAULT ('UP') FOR [status]
GO
ALTER TABLE [admin].[usuarios] ADD  DEFAULT ('UP') FOR [status]
GO
ALTER TABLE [ventas].[ventas] ADD  DEFAULT (getdate()) FOR [fechaHora]
GO
ALTER TABLE [admin].[precios]  WITH CHECK ADD  CONSTRAINT [FK_Precios_Eventos] FOREIGN KEY([evento])
REFERENCES [admin].[eventos] ([id])
GO
ALTER TABLE [admin].[precios] CHECK CONSTRAINT [FK_Precios_Eventos]
GO
ALTER TABLE [admin].[precios]  WITH CHECK ADD  CONSTRAINT [FK_Precios_SeccionesCtg] FOREIGN KEY([seccion])
REFERENCES [catalogo].[secciones_ctg] ([id])
GO
ALTER TABLE [admin].[precios] CHECK CONSTRAINT [FK_Precios_SeccionesCtg]
GO
ALTER TABLE [admin].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleados] FOREIGN KEY([empleado])
REFERENCES [admin].[empleados] ([control])
GO
ALTER TABLE [admin].[usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleados]
GO
ALTER TABLE [admin].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_PerfilesCtg] FOREIGN KEY([perfil])
REFERENCES [admin].[perfiles_ctg] ([clave])
GO
ALTER TABLE [admin].[usuarios] CHECK CONSTRAINT [FK_Usuarios_PerfilesCtg]
GO
ALTER TABLE [catalogo].[butacas_ctg]  WITH NOCHECK ADD  CONSTRAINT [FK_ButacasCtg_SeccionesCtg] FOREIGN KEY([seccion])
REFERENCES [catalogo].[secciones_ctg] ([id])
GO
ALTER TABLE [catalogo].[butacas_ctg] CHECK CONSTRAINT [FK_ButacasCtg_SeccionesCtg]
GO
ALTER TABLE [catalogo].[secciones_ctg]  WITH NOCHECK ADD  CONSTRAINT [FK_AreasCtg] FOREIGN KEY([area])
REFERENCES [catalogo].[areas_ctg] ([id])
GO
ALTER TABLE [catalogo].[secciones_ctg] CHECK CONSTRAINT [FK_AreasCtg]
GO
ALTER TABLE [ventas].[boletos]  WITH NOCHECK ADD  CONSTRAINT [FK_Boletos_ButacasCtg] FOREIGN KEY([butaca])
REFERENCES [catalogo].[butacas_ctg] ([id])
GO
ALTER TABLE [ventas].[boletos] CHECK CONSTRAINT [FK_Boletos_ButacasCtg]
GO
ALTER TABLE [ventas].[boletos]  WITH NOCHECK ADD  CONSTRAINT [FK_Boletos_Ventas] FOREIGN KEY([venta])
REFERENCES [ventas].[ventas] ([numero])
GO
ALTER TABLE [ventas].[boletos] CHECK CONSTRAINT [FK_Boletos_Ventas]
GO
ALTER TABLE [ventas].[ventas]  WITH NOCHECK ADD  CONSTRAINT [FK_Ventas_Empleados] FOREIGN KEY([vendedor])
REFERENCES [admin].[empleados] ([control])
GO
ALTER TABLE [ventas].[ventas] CHECK CONSTRAINT [FK_Ventas_Empleados]
GO
ALTER TABLE [ventas].[ventas]  WITH NOCHECK ADD  CONSTRAINT [FK_Ventas_Eventos] FOREIGN KEY([evento])
REFERENCES [admin].[eventos] ([id])
GO
ALTER TABLE [ventas].[ventas] CHECK CONSTRAINT [FK_Ventas_Eventos]
GO
ALTER TABLE [admin].[empleados]  WITH CHECK ADD  CONSTRAINT [CHK_Empleados_status] CHECK  (([status]='DW' OR [status]='UP'))
GO
ALTER TABLE [admin].[empleados] CHECK CONSTRAINT [CHK_Empleados_status]
GO
ALTER TABLE [admin].[eventos]  WITH NOCHECK ADD  CONSTRAINT [CHK_Eventos_fecha] CHECK  (([fecha]=getdate()))
GO
ALTER TABLE [admin].[eventos] CHECK CONSTRAINT [CHK_Eventos_fecha]
GO
ALTER TABLE [admin].[precios]  WITH CHECK ADD  CONSTRAINT [CHK_Precios_precio] CHECK  (([precio]<(5000)))
GO
ALTER TABLE [admin].[precios] CHECK CONSTRAINT [CHK_Precios_precio]
GO
ALTER TABLE [admin].[usuarios]  WITH CHECK ADD  CONSTRAINT [CHK_Usuarios_status] CHECK  (([status]='DW' OR [status]='UP'))
GO
ALTER TABLE [admin].[usuarios] CHECK CONSTRAINT [CHK_Usuarios_status]
GO
ALTER TABLE [ventas].[ventas]  WITH NOCHECK ADD  CONSTRAINT [CHK_Ventas_fechaHora] CHECK  (([fechaHora]=getdate()))
GO
ALTER TABLE [ventas].[ventas] CHECK CONSTRAINT [CHK_Ventas_fechaHora]
GO
/****** Object:  StoredProcedure [dbo].[usp_iUsuarios]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creacion del SP
create procedure [dbo].[usp_iUsuarios]
		@apPaterno varchar(25),
    @apMaterno varchar(25),
    @nombre varchar(25),
    @contrasena varchar(20),
    @perfil char(2),
    @respuesta nvarchar(250) output
as
begin
    set nocount on
		declare @usuario varchar(15)

    begin try
		-- INSERTA EL EMPLEADO
		if (@apMaterno != '') -- Si ingresó apMaterno
			INSERT INTO [admin].[empleados](apPaterno, apMaterno, nombre, status, fechaContratacion) values
			(@apPaterno, @apMaterno, @nombre, 'UP', GETDATE());
		else -- Si no ingresó apMaterno
			INSERT INTO [admin].[empleados](apPaterno, nombre, status, fechaContratacion) values
			(@apPaterno, @nombre, 'UP', GETDATE());

		--Luego buscamos el ID del empleado que se acaba de insertar
		declare @newID int = 0;
		SELECT @newID += @@IDENTITY;
		--select @newID;
		--Inserta al usuario

		-- Genera nombre de usuario automaticamente, tomado del nombre completo del empleado
		set @usuario = concat(substring(@nombre, 1, 1), @apPaterno)
		if exists (select nombre from [admin].[usuarios] where nombre = @usuario)
		begin
			set @usuario = concat(substring(@nombre, 1, 1), @apPaterno, substring(@apMaterno, 1, 1))
			if exists (select nombre from [admin].[usuarios] where nombre = @usuario)
			begin
				declare @contador tinyint

				select @contador = count(nombre) from [admin].[usuarios] where nombre = @usuario;
				set @contador = @contador + 1;
				set @usuario = concat(substring(@nombre, 1, 1), @apPaterno, substring(@apMaterno, 1, 1), cast(@contador as varchar(2)))
			end
		end

		insert into [admin].[usuarios] (empleado, perfil ,nombre, contrasena, status) values
		(@newID, @perfil , lower(@usuario), hashbytes('sha1', @contrasena), 'UP')
		set @respuesta = 'Registro exitoso'
    end try
    begin catch
        set @respuesta = error_message()
    end catch
end

GO
/****** Object:  StoredProcedure [dbo].[usp_sUsuarios]    Script Date: 07/12/2017 11:48:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creacion del SP
create procedure [dbo].[usp_sUsuarios]
	@usuario varchar(254),
    @contrasena varchar(50),
    @respuesta varchar(250) output
as
begin
	-- Declaracion de variables
    set nocount on
    declare @id int
	-- Valida si existe un usuario bajo el nombre de usuario indicado
    if exists (select top 1 empleado from [admin].[usuarios] where nombre = @usuario)
    begin
		-- Se asigna el 'id' del usuario que haga 'match' entre usuario y (contrasena + 'salt') encriptada
		set @id = (select empleado from [admin].[usuarios] where nombre = @usuario and contrasena = hashbytes('sha1', @contrasena))
		if(@id is not null)
			set @respuesta = 'Acceso autorizado'
		else
			set @respuesta = 'Usuario o contrase�a incorrecto'
    end
end

GO
USE [seatOrganizer]
GO

--Permisos de la tabla boletos
GRANT SELECT ON OBJECT::[ventas].[boletos] TO Administrador
GRANT UPDATE ON OBJECT::[ventas].[boletos] TO Administrador
GRANT INSERT ON OBJECT::[ventas].[boletos] TO Administrador
GRANT DELETE ON OBJECT::[ventas].[boletos] TO Administrador

--Permisos de la tabla empleados
GRANT SELECT ON OBJECT::[admin].[empleados] TO Administrador
GRANT UPDATE ON OBJECT::[admin].[empleados] TO Administrador
GRANT INSERT ON OBJECT::[admin].[empleados] TO Administrador

--Permisos de la tabla eventos
GRANT SELECT ON OBJECT::[admin].[eventos] TO Administrador
GRANT UPDATE ON OBJECT::[admin].[eventos] TO Administrador
GRANT INSERT ON OBJECT::[admin].[eventos] TO Administrador

--Permisos de la tabla precios
GRANT SELECT ON OBJECT::[admin].[precios] TO Administrador
GRANT UPDATE ON OBJECT::[admin].[precios] TO Administrador
GRANT INSERT ON OBJECT::[admin].[precios] TO Administrador

--Permisos de la tabla usuarios
GRANT SELECT ON OBJECT::[admin].[usuarios] TO Administrador
GRANT UPDATE ON OBJECT::[admin].[usuarios] TO Administrador
GRANT INSERT ON OBJECT::[admin].[usuarios] TO Administrador

--Permisos de la tabla ventas
GRANT SELECT ON OBJECT::[ventas].[ventas] TO Administrador
GRANT UPDATE ON OBJECT::[ventas].[ventas] TO Administrador
GRANT INSERT ON OBJECT::[ventas].[ventas] TO Administrador

--Permisos de la tabla butacas
GRANT SELECT ON OBJECT::[catalogo].[butacas_ctg] TO Administrador;
GRANT UPDATE ON OBJECT::[catalogo].[butacas_ctg] TO Administrador;
GRANT INSERT ON OBJECT::[catalogo].[butacas_ctg] TO Administrador;


--Permisos de la tabla boletos
GRANT SELECT ON OBJECT::[ventas].[boletos] TO VendedorBoletos
GRANT INSERT ON OBJECT::[ventas].[boletos] TO VendedorBoletos

--Permisos de la tabla Eventos
GRANT SELECT ON OBJECT::[admin].[eventos] TO VendedorBoletos

--Permisos de la tabla de usuarios
GRANT SELECT ON OBJECT::[admin].[eventos] TO VendedorBoletos

--Permisos de la tabla de usuarios
GRANT SELECT ON OBJECT::[catalogo].[areas_ctg] TO VendedorBoletos

--Permisos de la tabla de usuarios
GRANT SELECT ON OBJECT::[catalogo].[secciones_ctg] TO VendedorBoletos


--Permisos de la tabla butacas
GRANT SELECT ON OBJECT::[catalogo].[butacas_ctg] TO VendedorBoletos;

