* {
	font-family:arial;
}
body {
	margin:0px;
	background:#555;
}
header, footer, #container {
	position:relative;
	float:left;
	width:100%;
}
header {
	background:#2196F3;
}
header h1 {
	margin:20px;
	padding:0px;
	font-size:28pt;
	font-weight:bold;
	color:#FFF;
}

#container {
	background:#FFF;
}
#container h1 {
	margin:20px auto 20px 50px;
	padding:0px;
	font-size:24pt;
	font-weight:bold;
	color:#2196F3;
}
#container img {
	width:calc(100% - 100px);
	margin:20px 50px 20px 50px;
}
#container p {
	margin:0px;
	padding:20px 50px 20px 50px;
	font-size:18pt;
	color:#777;
	text-align:justify;
}
#container button {
	border:0px;
	margin:20px auto 20px 50px;
	padding:20px;
	background:#2196F3;
	color:#FFF;
	font-size:18pt;
	cursor:pointer;
	border-radius:10px;
}
#container button:hover {
	background:#42A5F5;
}
footer h1 {
	margin:20px;
	padding:0px;
	font-size:28pt;
	font-weight:bold;
	color:#999;
}
